* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Avenir';
    background-color: rgba(12, 12, 104, 0.466);
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/Assets/avenir_ff/AvenirLTStd-Book.otf');
}
