* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    height: 100%;
    width: 100%;
    background-color: #11131C;
    font-family: 'Avenir';
    font-weight: 100
}

@font-face {
    font-family: 'Avenir';
    src: url('/src/Assets/avenir_ff/AvenirLTStd-Black.otf');
}
